body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}

button.light-mode {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

button.dark-mode {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.darklight.light-mode {
    color: #000000;
    fill: black;
}

.darklight.dark-mode {
    color: #ffffff;
    fill: white;
}

.colors.light-mode {
    background-color: #f0f0f0d3;
    color: black;
}

.colors.dark-mode {
    background-color: #0d0d0d;
    color: white;
}

.tows.light-mode {
    background-color: #ffffff;
    color: #000000;
    fill: rgb(0, 0, 0);
}

.tows.dark-mode {
    background-color: #000000;
    color: #ffffff;
    fill: white;
}

.towsi.light-mode {
    background-color: #1986cf;
}

.towsi.dark-mode {
    background-color: #252525;
}

.towse.light-mode {
    stroke: rgb(0, 0, 0);
}

.towse.dark-mode {
    stroke: white;
}

.borde.light-mode {
    border: solid 4px white;
}

.borde.dark-mode {
    border: solid 4px black;
}